body {
	background: #f9f9f9;
}

a, h1, p {
	font-family: Arial, sans-serif;
}
/*---Page---*/
.main {
	font-size: 18px;
	width: 968px;
    padding: 46px;
    margin: auto;
    background: #ffffff;
	border-left: 2px solid #dbdbdb;
	border-right: 2px solid #dbdbdb;
}

/*---Logo---*/
.logo {
	display: block;
	margin: 20px 0px;
}


/*---header---*/
.header {
background: #545454;
width: 965px;
height: 40px;
font-size: 12px;
margin: 40px 0px;
}

.menu {
	background: #545454;
	color: white;
	display: inline-block;
	padding: 14px 46px;
	font-size: 12px;
	text-decoration: none;
}

.menu:hover {
	background: #363636;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}


/*---Left_Menu---*/
.left_menu {
	float: left;
	display: block;
	width: 240px;

}


.menu_l {
		color: #656363;
		display: block;
		font-size: 12px;
		text-decoration: none;
		border: 1px solid grey;
		border-top: none;
		padding: 13px 20px;
	}

	.left_menu ul li:first-child {
		border-top: 1px solid grey;
	}

	.menu_l:hover {
		color: #2c2c2c;
		background: #f9f9f9;
		padding-left: 40px;
	}


/*---Content---*/
.content {
	display: block;
	float: left;
	width: 680px;
	padding: 0 0 54px 48px;
}

img.cont {
	padding: 44px 88px;
	border: 1px solid grey;
}

.cont_text {
	margin-top: 10px;
	padding: 25px;
	color: #2c2c2c;
	font-size: 12px;
	line-height: 21px;

}
/*----footer----*/
.footer {
	clear: both;
	background: #e1e1e1;
	width: 967px;
	height: 40px;
	font-size: 12px;

}

.menu_f {
	color: black;
	display: inline-block;
	padding: 14px 45px;
	text-decoration: none;
}

.copy {
	float: right;
	padding: 14px 38px;
}

.menu_f:hover {
		text-decoration: underline;
	}
